input {
    font: inherit;
  }

button {
    display: inline-block;
    font: inherit;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: black;
    border: none;
    margin: 0.5rem;
}

.form_title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

.form_inputs {
margin: 2rem 0 1.5rem;
gap: 1.5rem;
color: #6b6b6b;
}

.form {
    box-shadow: .5rem;
    margin: 40px auto;
    padding: 3rem 1.5rem;
    background-color: #fff;
    width: min(350px, 90%);
    border-radius: 10px;
  }

.div_div{
    margin: 10px auto;
    padding: 1.5rem .75rem;
    background-color: #fff;
    width: min(350px, 90%);
    border-radius: 10px;
}

.text {
    margin: .5rem;
    font-weight: bold;
    font: inherit;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  
.form_div{
    border-radius: 5px;
    background-color: white;
}

.form_input{
    background-color: #fff;
}

.form_label {
    width: 100%;
  
  }

.button_edit{
    background-color: #ff8000;
}

.button_delete{
    background-color: #e53517;
}

.button_accept {
    background-color: #5ccb5f;
}